/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19  Distrib 10.5.28-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: lotto
-- ------------------------------------------------------
-- Server version	10.5.28-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `lotto`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `lotto` /*!40100 DEFAULT CHARACTER SET utf8 COLLATE utf8_general_ci */;

USE `lotto`;

--
-- Table structure for table `tb_email_verification_token`
--

DROP TABLE IF EXISTS `tb_email_verification_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tb_email_verification_token` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL,
  `expiry_date` datetime NOT NULL,
  `token` varchar(255) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_6fwys3m1xl52ma1jdvvt15dbf` (`token`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_email_verification_token`
--

LOCK TABLES `tb_email_verification_token` WRITE;
/*!40000 ALTER TABLE `tb_email_verification_token` DISABLE KEYS */;
INSERT INTO `tb_email_verification_token` VALUES (1,'2025-11-06 14:27:02','2025-11-07 14:27:02','b87ece0a-7e2d-4c7f-9c18-3227c44dd6fe',2),(4,'2025-11-11 01:41:54','2025-11-12 01:41:54','bb006a03-4d78-4f99-a7e9-29bf86551c46',5);
/*!40000 ALTER TABLE `tb_email_verification_token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_lotto_number`
--

DROP TABLE IF EXISTS `tb_lotto_number`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tb_lotto_number` (
  `postgame` int(11) NOT NULL DEFAULT 1,
  `num1` int(11) NOT NULL,
  `num2` int(11) NOT NULL,
  `num3` int(11) NOT NULL,
  `num4` int(11) NOT NULL,
  `num5` int(11) NOT NULL,
  `num6` int(11) NOT NULL,
  `bonusnum` int(11) NOT NULL,
  `firstprize` bigint(20) NOT NULL,
  `firstprizecount` int(11) NOT NULL,
  `secondprize` bigint(20) DEFAULT NULL,
  `secondprizecount` int(11) DEFAULT NULL,
  PRIMARY KEY (`postgame`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_lotto_number`
--

LOCK TABLES `tb_lotto_number` WRITE;
/*!40000 ALTER TABLE `tb_lotto_number` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_lotto_number` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_saved_lotto_number`
--

DROP TABLE IF EXISTS `tb_saved_lotto_number`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tb_saved_lotto_number` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `bonus_number` int(11) NOT NULL,
  `created_at` datetime NOT NULL,
  `num1` int(11) NOT NULL,
  `num2` int(11) NOT NULL,
  `num3` int(11) NOT NULL,
  `num4` int(11) NOT NULL,
  `num5` int(11) NOT NULL,
  `num6` int(11) NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKs9gg9gr2kfwee4xu9ju5i9hg6` (`user_id`),
  CONSTRAINT `FKs9gg9gr2kfwee4xu9ju5i9hg6` FOREIGN KEY (`user_id`) REFERENCES `tb_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_saved_lotto_number`
--

LOCK TABLES `tb_saved_lotto_number` WRITE;
/*!40000 ALTER TABLE `tb_saved_lotto_number` DISABLE KEYS */;
INSERT INTO `tb_saved_lotto_number` VALUES (2,10,'2025-11-11 05:23:38',15,16,19,21,27,31,'2025-11-11 05:23:38',7),(3,15,'2025-11-11 05:43:34',12,17,19,22,35,43,'2025-11-11 05:43:34',7),(4,37,'2025-11-11 05:43:40',10,19,23,30,33,40,'2025-11-11 05:43:40',7);
/*!40000 ALTER TABLE `tb_saved_lotto_number` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_user`
--

DROP TABLE IF EXISTS `tb_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tb_user` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `created_at` datetime NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `role` varchar(20) NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  `username` varchar(50) NOT NULL,
  `enabled` bit(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_4wv83hfajry5tdoamn8wsqa6x` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_user`
--

LOCK TABLES `tb_user` WRITE;
/*!40000 ALTER TABLE `tb_user` DISABLE KEYS */;
INSERT INTO `tb_user` VALUES (7,'2025-11-11 01:45:34','blood2567@naver.com','$2a$10$1Qwq5sbarD315uzAxZ.lx.cF4dKMq6/5Q0G0.Q/F30CenyJBD5FWC','USER','2025-11-11 01:45:47','cvoadmin','');
/*!40000 ALTER TABLE `tb_user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-12 14:56:16
