<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.maeil.rtm.mapper.ServiceMapper">	
	<select id="selectDaedan" resultType="string">
		<![CDATA[
		SELECT TOP 1 CASE WHEN DATEDIFF(MINUTE, A.INSERT_DT, GETDATE()) > 2 THEN 'NR' ELSE 'OK' END DAEDAN
		FROM (
		    SELECT TOP 2000 SEQ ,DEV_DT,INSERT_DT FROM TB_CARGO_HIST TCH WITH(NOLOCK)
		    WHERE 1=1
		--    AND DEV_DT >= CAST(GETDATE() - 1 AS DATETIME)
		--    AND DEV_DT < GETDATE()
		    ORDER BY DEV_DT DESC
		) A 
		ORDER BY A.INSERT_DT DESC;
		]]>
	</select>
	
	<select id="selectS1" resultType="string">
		<![CDATA[
		SELECT TOP 1 CASE WHEN DATEDIFF(MINUTE, A.INSERT_DT, GETDATE()) > 2 THEN 'NR' ELSE 'OK' END S1
		FROM (
		    SELECT TOP 2000 SEQ ,DEV_DT,INSERT_DT FROM TB_CAR_HIST TCH WITH(NOLOCK)
		    WHERE 1=1
	--	    AND DEV_DT >= CAST(GETDATE() - 1 AS DATETIME)
	--	    AND DEV_DT < GETDATE()
		    ORDER BY DEV_DT DESC
		) A
		ORDER BY A.INSERT_DT DESC;
		]]>
	</select>

	<select id="selectDELI" resultType="string">
		<![CDATA[
		SELECT COUNT(1)				
		  FROM IDW_SHIP A WITH (NOLOCK)
			 , IDW_DELI B WITH (NOLOCK)
		 WHERE A.VBELN = B.VBELN
		   AND A.SEQNO2 = B.SEQNO2;
		]]>
	</select>

</mapper>
