<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
    debug="false">
    
    <properties>
                <property name="name">app</property>
                <property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5.5p | %-30.30C::%-30.30M:%-5.5L | %msg%n</property>
<!-- 
It will look like that:
2015-10-26 14:53:54.090 | WARN  | .pnpsecure.testLogger.MyLogger::log4j_v2                      :23    | 123
-->
        </properties>
    	
    
    <!-- ConsoleAppender : 콘솔로 보기 -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <!-- <param name="ConversionPattern" value="%5p [%d] (%F[%M]:%L) - %m%n" /> -->
            <param name="ConversionPattern" value="[%d]- %m%n" />
        </layout>
    </appender>

    <!-- DailyRollingFileAppender : 매 날짜별 로그파일 남기기 -->
    <appender name="logfile" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Threshold" value="debug" />
        <!-- <param name="File" value="logs/%d{yyyyMMddHH}.log"  filePattern="log/${name}_%d{yyyyMMddHH}.log"/> -->
        <param name="File" value="logs/sap_client.log" />
        
        <!-- <fileNamePattern>logs/sap_client.%d{yyyy-MM-dd}.log</fileNamePattern> -->
        
        <PatternLayout>
                                <pattern>${pattern}</pattern>
                        </PatternLayout>
                        
        <fileNamePattern>logs/test_%d{yyyyMMdd}</fileNamePattern>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%5p [%d] (%F[%M]:%L) - %m%n" />
            <param name="ConversionPattern" value="[%d]- %m%n" />
            
        </layout>

    </appender>
    
    
    <appender name="roll" class="org.apache.log4j.DailyRollingFileAppender">
	    <param name="File" value="application.log" />
	    <param name="DatePattern" value=".yyyy-MM-dd" />
	    <layout class="org.apache.log4j.PatternLayout"> 
	      <param name="ConversionPattern" 
	          value="%d{yyyy-MMM-dd HH:mm:ss,SSS} [%t] %c %x%n  %-5p %m%n"/>
	    </layout>
	  </appender>

    
    <!-- 특정 패키지 클래스에 대해 로그 출력 설정 -->
    <logger name="packagename">
        <level value="debug" />
        <appender-ref ref="logfile" />
    </logger>
    
    <!-- 루트 로거 출력 등급 설정 및 출력담당자 선언 -->
    <root>
        <level value="INFO" />
        <appender-ref ref="console" />
        <appender-ref ref="logfile" />
    </root>

</log4j:configuration>