<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
    debug="false">
    
    <!-- ConsoleAppender : 콘솔로 보기 -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <!-- <param name="ConversionPattern" value="%5p [%d] (%F[%M]:%L) - %m%n" /> -->
            <param name="ConversionPattern" value="[%d]- %m%n" />
        </layout>
    </appender>

    <!-- DailyRollingFileAppender : 매 날짜별 로그파일 남기기 -->
    <appender name="logfile" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Threshold" value="debug" />
        <param name="File" value="logs/sap_server.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <!-- <param name="ConversionPattern" value="%5p [%d] (%F[%M]:%L) - %m%n" /> -->
            <param name="ConversionPattern" value="[%d]- %m%n" />
        </layout>
    </appender>

    
    <!-- 특정 패키지 클래스에 대해 로그 출력 설정 -->
    <logger name="packagename">
        <level value="debug" />
        <appender-ref ref="logfile" />
    </logger>
    
    <!-- 루트 로거 출력 등급 설정 및 출력담당자 선언 -->
    <root>
        <level value="INFO" />
        <appender-ref ref="console" />
        <appender-ref ref="logfile" />
    </root>

</log4j:configuration>